In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dataset= pd.read_csv("D:\TP DEH ABOUBACAR\STAGE_SEJEN\MACHINE LEARNING\loans.csv")
print(dataset)

           City   Age    Salary Approved
0  Apple Valley  25.0   65000.0      Yes
1     Maplewood  30.0   81000.0       No
2         Eagan  33.0       NaN      Yes
3  Apple Valley  39.0  100000.0       No
4     Maplewood  28.0   91000.0      Yes
5         Eagan   NaN   66000.0       No
6  Apple Valley  40.0   98000.0      Yes
7     Maplewood  34.0   86000.0      Yes
8         Eagan  25.0   70000.0       No
9     Maplewood  24.0   62000.0      Yes

In [62]:
dataset.head()

           City   Age    Salary Approved
0  Apple Valley  25.0   65000.0      Yes
1     Maplewood  30.0   81000.0       No
2         Eagan  33.0       NaN      Yes
3  Apple Valley  39.0  100000.0       No
4     Maplewood  28.0   91000.0      Yes

In [63]:
dataset.tail()

           City   Age   Salary Approved
5         Eagan   NaN  66000.0       No
6  Apple Valley  40.0  98000.0      Yes
7     Maplewood  34.0  86000.0      Yes
8         Eagan  25.0  70000.0       No
9     Maplewood  24.0  62000.0      Yes

In [64]:
x=dataset.iloc[:, :-1].values #Prends toutes les colonnes sauf la derniere

In [36]:
print(x)

[['Apple Valley' 25.0 65000.0]
 ['Maplewood' 30.0 81000.0]
 ['Eagan' 33.0 nan]
 ['Apple Valley' 39.0 100000.0]
 ['Maplewood' 28.0 91000.0]
 ['Eagan' nan 66000.0]
 ['Apple Valley' 40.0 98000.0]
 ['Maplewood' 34.0 86000.0]
 ['Eagan' 25.0 70000.0]
 ['Maplewood' 24.0 62000.0]]

In [43]:
y=dataset.iloc[:,3].values # Affiche la derniere colonne
print(y)

['Yes' 'No' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'No' 'Yes']

In [66]:
#Traitement des donn√©es
from sklearn.preprocessing import Imputer
imputer= Imputer(missing_values ="NaN", strategy = "mean", axis = 0)
imputer= imputer.fit(x[:,[1,2]]) #prends toutes les lignes et les colonnes 1 & 2 car il y a des valeurs manquantes sur l'age et le salaire
x[:,1:3]=imputer.transform(x[:,1:3]) #Prends toutes les lignes et prend les colonnes 1 & 2
print(x)

[['Apple Valley' 25.0 65000.0]
 ['Maplewood' 30.0 81000.0]
 ['Eagan' 33.0 79888.88888888889]
 ['Apple Valley' 39.0 100000.0]
 ['Maplewood' 28.0 91000.0]
 ['Eagan' 30.88888888888889 66000.0]
 ['Apple Valley' 40.0 98000.0]
 ['Maplewood' 34.0 86000.0]
 ['Eagan' 25.0 70000.0]
 ['Maplewood' 24.0 62000.0]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [68]:
#Traitement des donn√©es -variables categorielles- qualitative
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x=LabelEncoder()
x[:,0] = labelencoder_x.fit_transform(x[:,0])
onehotencoder =OneHotEncoder(categorical_features=[0]) #Lorsque les modalit√©s sont superieur √† 2
x =onehotencoder.fit_transform(x).toarray()  
print(x)
#on transforme les variables en tableau disjontifs complet
#Variable d√©pendante
labelencoder_y = LabelEncoder()  
y =labelencoder_y.fit_transform(y)

[[0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
  2.50000000e+01 6.50000000e+04]
 [1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  3.00000000e+01 8.10000000e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  3.30000000e+01 7.98888889e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
  3.90000000e+01 1.00000000e+05]
 [1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  2.80000000e+01 9.10000000e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  3.08888889e+01 6.60000000e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 0.00000000e+00
  4.00000000e+01 9.80000000e+04]
 [1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  3.40000000e+01 8.60000000e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  2.50000000e+01 7.00000000e+04]
 [1.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  2.40000000e+01 6.20000000e+04]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [70]:
x.shape
#print(np.shape(x))

#h=pd.DataFrame(x)
#h.columns=["City","Age","Salary"]
#print(h)

(10, 6)

In [71]:
#Scinder le jeu de donn√©es d'apprentissage et donn√©es test
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0) #y la variable √† expliquer, test_size est la proportion des personnes √† attribuer au test

In [28]:
#Normalisation des caract√©ristiques: Elles consiste √† mettre les donn√©es dans la meme unit√© en centrant et reduisant par exemple
from sklearn.preprocessing import StandardScaler  
sc_x =StandardScaler() #StandarScaler pour centrer reduit et pour l'autre c'est min_maxScaler
x_train=sc_x.fit_transform(x_train)
x_test =sc_x.transform(x_test)